* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

}



/* header section */

.header {
 background-color: #313132;
 /* place-content: center; */
}
.ul-nav-list {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  align-items: center;
  justify-items: center;
  /* gap: 60px; */
 padding: 20px;
}


.apple-svg {
  height: 20px;
}

a {
  text-decoration: none;
  /* color: white; */
}
span:hover {
  color: #c1c1c2;
}

span {
  transition: 0.5s;
  color: whitesmoke;
}

.main {
  background-color: rgb(187, 163, 131);
}

.footer {
  background-color: rgba(72, 118, 218, 0.555);
}
